AssetManagement_1_0_0_1/Workflows/OutsidePolicyApproval-5C98BDDB-BD55-F011-BEC2-000D3AC7062D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "rk_sharedcommondataserviceforapps_681c5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "rk_sharedapprovals_25beb"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "082c4ecf-f609-4778-84de-ebf9b72acb70"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "BPFFlowStageEntityRecordId": {
                                "title": "BPF Flow Stage Table Row Id",
                                "type": "string"
                              }
                            },
                            "required": []
                          }
                        },
                        "required": []
                      }
                    },
                    "required": []
                  }
                }
              },
              "required": []
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataserviceforapps']['connectionId']"
              }
            },
            "operationId": "FlowStepRun",
            "parameters": {}
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "edd24ab8-22a1-43af-9883-d4146a0e460a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "Asset Allocation Outside Policy",
              "WebhookApprovalCreationInput/assignedTo": "User1@ztn8z.onmicrosoft.com;",
              "WebhookApprovalCreationInput/details": "@outputs('Get_a_row_by_ID')?['body/rk_reason']",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "82ad2b32-489f-443f-8166-479f936218ff"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "rk_assetallocations",
              "recordId": "@triggerBody()?['entity']?['entity']?['BPFFlowStageEntityRecordId']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Condition": {
              "actions": {
                "Update_a_row_to_Approve": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6a922017-60b1-4dbb-b67d-a76405237194"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "rk_assetallocations",
                      "recordId": "@outputs('Get_a_row_by_ID')?['body/rk_assetallocationid']",
                      "item/rk_approvalstatus": 126170000
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Update_a_row": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "cc195801-47d5-4ab2-8d9c-cf669d22b5d1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "rk_assetallocations",
                        "recordId": "@outputs('Get_a_row_by_ID')?['body/rk_assetallocationid']",
                        "item/rk_approvalstatus": 126170001
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "contains": [
                  "@items('Apply_to_each')?['approverResponse']",
                  "Approve"
                ]
              },
              "metadata": {
                "operationMetadataId": "22891e2e-4be8-406e-99d7-4c28b46af30f"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f078c886-103f-4023-ab51-42804d7d3f52"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}